(
    name: "Untitled Scene",
    entities: [
        (
            name: Some("Entity"),
            components: {
                "Transform": "(position:(1.0,0.0,0.0),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0))",
            },
        ),
        (
            name: Some("Entity_1"),
            components: {
                "Transform": "(position:(0.0,0.0,0.0),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0))",
            },
        ),
        (
            name: Some("Entity_2"),
            components: {
                "Transform": "(position:(0.0,0.0,0.0),rotation:(0.0,0.0,0.0,1.0),scale:(1.0,1.0,1.0))",
            },
        ),
    ],
)